{% extends 'base.html.twig' %}

{% block title %}New Consultations{% endblock %}

{% block body %}
    <h1>Create new Consultations</h1>

    {{ include('consultations/_form.html.twig') }}

    <a href="{{ path('app_consultations_index') }}">back to list</a>
{% endblock %}
