{% extends 'base.html.twig' %}

{% block title %}Edit Programmes{% endblock %}

{% block body %}
    <h1>Edit Programmes</h1>

    {{ include('programmes/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_programmes_index') }}">back to list</a>

    {{ include('programmes/_delete_form.html.twig') }}
{% endblock %}
