{% extends 'base.html.twig' %}

{% block title %}New Programmes{% endblock %}

{% block body %}
    <h1>Create new Programmes</h1>

    {{ include('programmes/_form.html.twig') }}

    <a href="{{ path('app_programmes_index') }}">back to list</a>
{% endblock %}
