{% extends 'base.html.twig' %}

{% block title %}New CommandeExames{% endblock %}

{% block body %}
    <h1>Create new CommandeExames</h1>

    {{ include('commande_exames/_form.html.twig') }}

    <a href="{{ path('app_commande_exames_index') }}">back to list</a>
{% endblock %}
